.login-wrapper {
    background-color: #302e2e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-wrapper h1 {
    margin-bottom: 20px;
    color: #bdbbbb;
}
.subtitle {
    margin-bottom: 25px;
    color: #a09e9e;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}
label {
    text-align: left;
    margin-bottom: 5px;
    color: #dbc9c9;
    font-weight: 500;
}
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

}
.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:disabled {
    background-color: #9E9E9E;
    cursor: not-allowed;
}
.submit-button {
    width: auto;
    margin-top: 10px;
}
.submit-button:hover {
    background-color: #45a049;
}
.toggle-button {
    background-color: transparent;
    color: #4CAF50;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}
.toggle-button:hover {
    color: #45a049;
}
.error-message {
    color: #ff4d4f;
    margin-bottom: 15px;
}


@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        height: auto;
    }

    .login-wrapper {
        padding: 20px;
        max-width: 100%;
        border-radius: 8px;
        box-shadow: none;
    }

    .button-group {
        gap: 8px;
    }

    button,
    input {
        font-size: 14px;
        padding: 10px;
    }

    .toggle-button {
        font-size: 13px;
    }
}
